rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Public read for thumbnails & static assets
    match /{allPaths=**} {
      allow read: if true;
    }

    // Staff-only writable buckets
    match /course-images/{file=**} {
      allow write: if request.auth != null
                   && request.auth.token.role in ['owner','admin','instructor','ta'];
    }
    match /lesson-videos/{file=**} {
      allow write: if request.auth != null
                   && request.auth.token.role in ['owner','admin','instructor','ta'];
    }

    // Students can upload assignment files under their folder
    match /assignment-submits/{uid}/{file=**} {
      allow write: if request.auth != null && request.auth.uid == uid;
      allow read:  if request.auth != null && request.auth.uid == uid || request.auth.token.role in ['owner','admin','instructor','ta'];
    }
  }
}